<html>
    <head>
      <title>Edit new Idea</title>
      <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
      <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
      <script type="text/javascript"> bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });</script>
    </head>
      <body> <%- include('includes/navbarlogged') %>
        <a href = "/ideas"><h3 align="left">&nbsp &nbsp ⇚ Back</h3></a>
        <center>
            <h1>Edit <%=idea.title%>'s Idea</h1>
            <form action="/ideas/edit/<%=idea.id%>" method="post">
              TITLE: <input type="text" name="title" value="<%=idea.title%>"><br>
              <br>
              DONATION GOAL: <input type="number" value="<%=idea.goal_funding%>" name="goal_funding"> <br>
              DONATION NOW: <input type="number" value="<%=idea.total_funding%>" name="total_funding"> <br>
              <textarea rows="6" cols="100" name="overview" placeholder= "Input overview here"><%=idea.overview%></textarea><br>
              Product image URL : <input type="text" value="<%=idea.image%>" name="image"><br>
             
              <button>Add!</button>
            </form>
            Add more perks to improve your promotion
            <br>
            <form action="/ideas/perks/<%=idea.id%>" method="get">
              <button class="btn btn-primary">Add Perks</button>
            </form>
          </center>
          <center>
              <div class="row">
                  <table class="table table-hover" style="width: 50%; font-size:25px">
                      <thead>
                        <tr class="table-dark">
                          <th scope="col">Title</th>
                          <th scope="col">Donated Amount</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% perks.forEach(element=> {%>
                        <tr class="table-active">
                          <td><%= element.title %></td>
                          <td><%= element.amount_donated%></td>
                          <td>
                          <nav>
                              <a href="/ideas/perks/<%=element.id%>/edit"><button type="button" class="btn btn-outline-success">Edit</button></a> 
                          </nav>
                          <nav>
                              <a href="/ideas/perks/<%=element.id%>/delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>  
                          </nav>  
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>  
                </div>
          </center>
      </body>
    </html>