<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%if (logged) {%>
    <%- include('includes/navbarlogged') %>
    <%}%>
    <%if (logged !== true) {%>
    <%- include('includes/navbar') %>
    <%}%>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron banner" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg); background-size: 100%;">
                
                <h1 class="display-3">Lentera</h1>
                <p>Lets ignite the light to make the world a better place.</p>
                
            </div>
        </div>
    </div>
            
    <div class="row">
            <%data.reverse().forEach(idea => {%>
                <div class="card mb-3 col-sm-4 col-sm-offset-2">
                        <a href="/ideas/view/<%=idea.id%>" class="card-link"><h3 class="card-header"><%=idea.title%></h3></a>
                    <img style="height: 200px; width: 100%; display: block;" src="<%=idea.image%>" alt="Card image">
                    <a href="/ideas/view/<%=idea.id%>" class="card-link"><h5>Progress</h5></a>
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
                        style="width:<%=idea.progress()%>%"></div>
                    </div>
                    <h6>IDR <%=idea.total_funding%> / IDR <%=idea.goal_funding%></h6>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted"><%-idea.overview%></h6>
                    </div>
                    <br><br>
                </div>   
        <%})%>  
    </div>
        
    
</body>
</html>