<html>
    <head>
      <title>User Edit</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
      <body>
        <a href = "/user/list"><h3 align="left">&nbsp &nbsp ⇚ Back</h3></a>
        <center>
            <h1>Change user Details</h1>
            <form action="/user/edit/<%=user.id%>" method="post">
                <input type="text" placeholder="First Name" name="firstName" value='<%=user.firstName%>'><br>
                <input type="text" placeholder="Last Name" name="lastName"  value='<%=user.lastName%>'><br>
                <input type="email" placeholder="Email" name="email"  value='<%=user.email%>'><br>
                <input type="text" placeholder="Username" name="username"  value='<%=user.username%>'><br>
                <input type="password" placeholder="password" name="password"  value='<%=user.password%>'><br>
              <button>Edit Details!!</button>
            </form>
        </center>
      </body>
    </html>