<html>
    <head>
      <title>User Edit</title>
      <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    </head>
      <body> <%- include('includes/navbarlogged') %>
        <a href = "/user/list"><h3 align="left">&nbsp &nbsp ⇚ Back</h3></a>
        <center>
            <h1>Change user Details</h1>
            <form action="/user/edit/<%=user.id%>" method="post">
                <input type="text" placeholder="First Name" name="firstName" value='<%=user.firstName%>'maxlength="15"><br>
                <input type="text" placeholder="Last Name" name="lastName"  value='<%=user.lastName%>'maxlength="15"><br>
                <input type="email" placeholder="Email" value='<%=user.email%>' disabled><br>
                <input type="text" placeholder="Username" value='<%=user.username%>'maxlength="15" disabled><br>
                <input type="password" placeholder="password" name="password"  value='<%=user.password%>'maxlength="15"><br>
                <br>
              <button>Edit Details!!</button>
            </form>
        </center>
      </body>
    </html>